h1 {
  font-size: 2.1em;
  font-weight: 500;
  text-transform: uppercase;
}

.product-page {
  display: flex;
  flex-direction: column-reverse;
  margin: auto 8px;
}
.product-page .pictures > img {
  width: 100%;
}
.product-page .more-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2.2em;
  padding-right: 2.2em;
}
.product-page .more-pictures img {
  padding: 2px;
  width: 50%;
}
.product-page .details h1, .product-page .details p {
  margin-top: 1em;
}
.product-page .details .add-to-cart-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  margin: 2.5em 0;
}
.product-page .details .add-to-cart-wrapper .price {
  background-color: #ededed;
  color: #39c2d7;
  font-weight: 700;
  padding: 14px 20px;
}
.product-page .details .add-to-cart-wrapper .quantity-wrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: center;
}
.product-page .details .add-to-cart-wrapper .quantity-wrapper .quantity {
  margin-bottom: 1em;
  width: 80%;
}
.product-page .details .add-to-cart-wrapper .quantity-wrapper .quantity label {
  font-weight: 700;
  margin-right: 4px;
}
.product-page .details .add-to-cart-wrapper .quantity-wrapper .quantity input {
  text-align: right;
  width: 25%;
}
.product-page .details .add-to-cart-wrapper .quantity-wrapper .cart {
  background-color: #7f993a;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 15px;
  text-transform: uppercase;
  width: 80%;
}
.product-page .details .add-to-cart-wrapper .quantity-wrapper .cart i {
  padding-right: 14px;
}

@media screen and (min-width: 601px) {
  .product-page {
    flex-direction: row;
  }
  .product-page .pictures {
    flex-basis: 30%;
    padding-top: 8px;
    width: 30%;
  }
  .product-page .pictures .more-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-page .details {
    flex-basis: 70%;
    padding-left: 1.5em;
    width: 70%;
  }
  .product-page .details .add-to-cart-wrapper {
    flex-wrap: nowrap;
  }
  .product-page .details .add-to-cart-wrapper .price {
    padding: 14px;
    text-align: center;
  }
  .product-page .details .add-to-cart-wrapper .quantity-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .product-page .details .add-to-cart-wrapper .quantity-wrapper .cart:hover {
    background-color: #8fad40;
  }
}
@media screen and (min-width: 1441px) {
  .product-page {
    margin: 0 auto;
  }

  .product-page .pictures .more-pictures img {
    width: 33%;
  }
}

/*# sourceMappingURL=product-page.css.map */
