h1, h2 {
  font-family: Lato;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}

table {
  flex: 1 0 auto;
  border-spacing: 0;
  overflow: auto;
}

tbody tr:hover {
  background-color: darkslategray;
  color: lightblue;
  cursor: pointer;
}

.product-details {
  max-height: 100vh;
  overflow: auto;
}

.product-details > *:nth-child(4) {
  max-height: 300px;
  overflow: auto;
}