$color-blue: #39c2d7;
$color-grey: #ededed;
$color-cart-button: #7f993a;
$color-cart-button-hover: #8fad40;
$tablet-width: 601px;
$laptop-width: 992px;
$desktop-width: 1441px;

h1 { 
    font-size: 2.1em;
    font-weight: 500;
    text-transform: uppercase;
}

.product-page {
    display: flex;
    flex-direction: column-reverse;
    margin: auto 8px;

    .pictures > img { 
        width: 100%;
    }

    .more-pictures {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 2.2em;
        padding-right: 2.2em;

        img { 
            padding: 2px;
            width: 50%;
        }
    }

    .details {
        h1, p { 
            margin-top: 1em; 
        } 

        .add-to-cart-wrapper { 
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 18px;
            margin: 2.5em 0;

            .price {
                background-color: $color-grey;
                color: $color-blue;
                font-weight: 700;
                padding: 14px 20px;
            }

            .quantity-wrapper {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                margin-left: auto;
                text-align: center;

                .quantity { 
                    margin-bottom: 1em;
                    width: 80%;

                    label { 
                        font-weight: 700;
                        margin-right: 4px;
                    }

                    input { 
                        text-align: right;
                        width: 25%;
                    }
                }

                .cart {
                    background-color: $color-cart-button;
                    border: none;
                    color: white;
                    cursor: pointer;
                    font-weight: 700;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    text-transform: uppercase;
                    width: 80%;

                    i { 
                        padding-right: 14px; 
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $tablet-width) {

    .product-page {
        flex-direction: row;

        .pictures { 
            flex-basis: 30%; 
            padding-top: 8px;
            width: 30%;

            .more-pictures {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .details {
            flex-basis: 70%;
            padding-left: 1.5em;
            width: 70%;

            .add-to-cart-wrapper { 
                flex-wrap: nowrap;
                
                .price { 
                    padding: 14px;
                    text-align: center;
                }

                .quantity-wrapper { 
                    flex-direction: row; 
                }
            }

        }
    }
}

@media screen and (min-width: $laptop-width) {
    .product-page .details .add-to-cart-wrapper .quantity-wrapper .cart:hover {
            background-color: $color-cart-button-hover;
    }
}

@media screen and (min-width: $desktop-width) { 
    .product-page { 
        margin: 0 auto;
    }
    .product-page .pictures .more-pictures img { 
        width: 33%; 
    } 
}


